.danger {
  color: var(--dangerColor);
}

.default {
  color: inherit;
}

.disabled {
  color: var(--disabledColor);
}

.info {
  color: var(--infoColor);

  &:global(.darken) {
    color: color-mix(in srgb, var(--infoColor) 70%, black);
  }
}

.pink {
  color: var(--pink);

  &:global(.darken) {
    color: color-mix(in srgb, var(--pink) 70%, black);
  }
}

.success {
  color: var(--successColor);
}

.warning {
  color: var(--warningColor);
}

.purple {
  color: var(--purple);
}
